
.panel-content{
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.panel-default{
    border-radius: 20px;
    width: 400px;
    margin-top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.panel-header{
    text-align:center;
    margin-bottom: 10px;
    font-size: 25px;
    padding: 20px;
}

.panel-body {
    position: relative;
}

.panel-footer{
    border-radius: 0px 0px 20px 20px;
    text-align: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group input{
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.panel-body{
    height: 400px;
}
.panel-img{
    text-align: center;
}
.panel-img img{
    width: 250px;
}

.flex {
    display: flex;
}

.input-btn {
    justify-content: center;
    align-items:first baseline;
    gap: 10px;
}

#quantity {
    width: 300.6px;
}

#reader-wrapper {
    position: absolute;
    width: calc(400px - 30px);
    min-height: 20%;
}

.close-reader {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 2000;
    background-color: brown;
    color: aliceblue;
    display: grid;
    place-items: center;
    right: -10px;
    top: -10px;
    font-weight: bold;
    cursor: pointer;
}

.select-item {
    width: 250px;
}
