@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #fe3e3e;
    --secondary-color: #f5a623;
    --text-color: #333333;
    --title-color: #222222;
}

*, html{
    margin: 0;
    padding: 0;
    outline: none;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    height: 100vh;
    overflow-y: auto;
}

body{
    height: 100vh;
    background-color: #eeeeee;
}

.bg-primary-c{
    background-color: var(--primary-color);
}

.title-color{
    color: var(--title-color);
}

.text-color{
    color: var(--text-color);
}

.text-color-w{
    color: white;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.t-center{
    text-align: center;
}

.m-top-3{
    margin-top: 3px;
}

.m-top-5{
    margin-top: 5px;
}

.m-top-10{
    margin-top: 10px;
}

.m-top-15{
    margin-top: 15px;
}

.m-top-20{
    margin-top: 20px;
}

.m-top-30{
    margin-top: 30px;
}

.m-top-50{
    margin-top: 50px;
}

.m-right-5{
    margin-right: 5px;
}

.m-right-10{
    margin-right: 10px;
}

.p-top-5{
    padding-top: 5px;
}

.p-top-10{
    padding-top: 10px;
}

.p-top-15{
    padding-top: 15px;
}

.p-top-20{
    padding-top: 20px;
}

.p-top-50{
    padding-top: 50px;
}

.p-top-bot-10{
    padding: 10px 0;
}

.fs-40{
    font-size: 40px;
}

.fs-30{
    font-size: 30px;
}

.fs-25{
    font-size: 25px;
}

.fs-20{
    font-size: 20px;
}

.fs-15{
    font-size: 15px;
}

.fs-13{
    font-size: 13px;
}

.fw-bold{
    font-weight: bold;
}

.max-w-75{
    min-width: 100px;
}

.d-flex-jcc-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.d-flex-jcsb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-jcev{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-al-c{
    display: flex;
    align-items: center;
}

.sidebar_section nav{
    position: fixed;    
    /* min-height: 100vh; */
    height: 100%;
    background: linear-gradient(to top right, #fe3e3e, #8a2121);
    overflow: hidden;
    -webkit-transition: width 0.1s ease-out;
    -moz-transition: width 0.1s ease-out;
    -o-transition: width 0.1s ease-out;
    transition: width 0.1s ease-out;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    width: 90px;
}

.gashapon_logo{
    display: flex;
    align-items: center;
}

.nav-title{
    padding: 4px 0px 4px 15px;
}

.nav-module{
    display: flex;
    align-items: center;
    padding: 20px 25px;
}

.gashapon_logo img{
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    object-fit: fill;
    transform: scale(0.8);
}

.gashapon_logo span{
    font-weight: bold;
    padding-left:15px;
    font-size: 18px;
    text-transform: uppercase;
    /* color: white; */
}

.sidebar_section nav ul li a i{
    color: #fff;
    font-size: 40px;
    min-width: 56px;
}

.nav-item{
    font-size: 14px;
    color: white;
    min-width: 213px;
    padding: 0 10px;
    font-weight: bold;
}

.sidebar_section nav ul li a:hover{
    background-color: #eee;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.sidebar_section nav ul li a:hover i, .sidebar_section nav ul li a:hover .nav-item{
    color: rgb(249, 50, 50);
}

.active{
    background-color: #eee;
}

.active_i{
    color: red !important;
}

.active_span{
    color: red !important;
}

/* .sidebar_section nav ul li .active i, .sidebar_section nav ul li .active i span{
    color: red;
} */

.sidebar_section nav:hover{
    width: 280px;
}

/* .content-section{
    background-color: red;
} */

.sidebar_section nav:hover ~ .content-section{
    background-color: red;
}

.log-out{
    position: absolute;
    bottom: 0;
}

.main_section{
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar Section */
/* .sidebar_section{
} */

/* Content Section */

.content-section{
    width: 100%;
}

/* Topbar Section */
.topbar_section{
    height: 100%;
    width: 100%;
    /* position: fixed; */
}

.topbar-box{
    background-color: white;
}

.topbar-content{
    padding: 12.6px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 90px; */
}

.content-section{
    /* background-color: red; */
    -webkit-transition: width 0,5s ease-out;
    -moz-transition: width 0.5s ease-out;
    -o-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
    margin-left: 90px;
}

.user_profile{
    display: flex;
    justify-content: center;
    position: relative;
}

.user_profile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
    cursor: pointer;
    border: 1px solid #9c9c9c;
    margin-left: 10px;
}

.user_profile_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
}

#user-icon-dropdown{
    display: grid;
    place-content: center;
    z-index: 999;
}

#user-icon, #search-box, .top-navbar .f-col i{
    cursor: pointer;
}

#user-icon-my-profile{
    background-color: #333940;
    color: white;
    padding: 5px;
    font-weight: 500;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
}
#user-icon-logout{
    background-color: #de4646;
    padding: 5px;
    font-weight: 500;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
}

#notif{
    background-color: #292927;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
    color: #fff;
    cursor: pointer;
}

#user-icon-my-profile:hover, #user-icon-logout:hover, #notif:hover{
    opacity: 0.7;
}

/* DataTable Design */

table.dataTable {
    border-collapse: collapse !important;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    clear: both;
    border: 1px solid #ddd;
    color: #333;
    font-size: 14px;
    font-weight: normal;
}

table.dataTable thead th {
    font-weight: bold;
    background-color: var(--primary-color);
    color: #ffffff;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.dataTable tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.dataTable tfoot th {
    font-weight: bold;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}